Repository niksy/generator-paleta: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-path .prettierignore --write

.lintstagedrc:

{
	"*.js": ["eslint --fix"],
	"*.md": ["prettier --ignore-path .prettierignore --write"],
	".!(npm)*rc": ["prettier --ignore-path .gitignore --parser json --write"]
}

Properly handle IE support
  generators/app/index.js
  generators/app/templates/README.md
Due: eslint --fix, prettier --ignore-path .prettierignore --write

Handle unsupported features
  generators/app/templates/eslintrc
Due: none

6.3.1
  package.json
Due: none

Add year range for Browserslist configuration
  generators/app/index.js
  test/index.js
Due: eslint --fix

Adjust answers
  generators/app/index.js
  test/index.js
Due: eslint --fix

6.4.0
  package.json
Due: none

Handle Node core modules for Webpack
  generators/app/templates/_package.json
  generators/app/templates/karma.conf.js
Due: eslint --fix

6.4.1
  package.json
Due: none

Handle older Node versions
  generators/app/templates/eslintrc
Due: none

Add link for browserslist.dev configuration
  generators/app/index.js
  generators/app/templates/README.md
  test/index.js
Due: eslint --fix, prettier --ignore-path .prettierignore --write

6.5.0
  package.json
Due: none

Add support for ESM modules only
  generators/app/index.js
  generators/app/templates/_package.json
  generators/app/templates/gitignore
  generators/app/templates/rollup.config.js
Due: eslint --fix

6.6.0
  package.json
Due: none

Remove old CommonJS references
  generators/app/index.js
Due: eslint --fix

6.6.1
  package.json
Due: none

Upgrade Yeoman dependencies
  package.json
Due: none

Improve code organization
  generators/app/index.js
Due: eslint --fix

Add support for custom browsers
  generators/app/index.js
  generators/app/templates/README.md
  generators/app/templates/karma.conf.js
  generators/app/templates/wdio.conf.js
  test/index.js
Due: eslint --fix, prettier --ignore-path .prettierignore --write

6.7.0
  package.json
Due: none

Update development dependencies
  package.json
Due: none

6.7.1
  package.json
Due: none

Adjust Karma configuration
  generators/app/templates/karma.conf.js
Due: eslint --fix

6.7.2
  package.json
Due: none

Improve Webpack plugins
  generators/app/templates/_package.json
  generators/app/templates/karma.conf.js
  generators/app/templates/test/manual/webpack.config.js
  test/index.js
Due: eslint --fix

6.7.3
  package.json
Due: none

Don’t require changelog changes if not on master
  generators/app/templates/_package.json
Due: none

6.7.4
  package.json
Due: none

Adjust changelog generate script
  generators/app/templates/_package.json
Due: none

6.7.5
  package.json
Due: none

Configure Webpack manual test config for proper Browserstack testing
  generators/app/templates/test/manual/webpack.config.js
Due: eslint --fix

Disable side effects for Webpack manual test config
  generators/app/templates/test/manual/webpack.config.js
Due: eslint --fix

6.7.6
  package.json
Due: none

Use `[` instead of `[[` to avoid errors on Travis
  generators/app/templates/_package.json
  test/index.js
Due: eslint --fix

6.7.7
  package.json
Due: none

Upgrade ESLint depdenencies
  generators/app/index.js
  generators/app/templates/_package.json
Due: eslint --fix

Add initial support for TypeScript
  generators/app/index.js
  generators/app/templates/_package.json
  generators/app/templates/eslintrc
  generators/app/templates/rollup.config.js
  generators/app/templates/tsconfig.json
  test/index.js
Due: eslint --fix

Upgrade dependencies
  package.json
Due: none

Change BrowserStack badge
  generators/app/templates/README.md
  test/index.js
Due: eslint --fix, prettier --ignore-path .prettierignore --write

Upgrade package
  .eslintrc
  .gitignore
  generators/app/index.js
  package.json
  test/.eslintrc
Due: eslint --fix

6.8.0
  package.json
Due: none
