Repository niksy/generator-paleta: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-path .prettierignore --write

.lintstagedrc:

{
	"*.js": ["eslint --fix", "git add"],
	"*.md": ["prettier --ignore-path .prettierignore --write", "git add"],
	".!(npm)*rc": [
		"prettier --ignore-path .gitignore --parser json --write",
		"git add"
	]
}

5.26.0
  package.json
Due: none

Fix test template
  generators/app/templates/test/index.js
Due: eslint --fix

Update default Node version
  generators/app/index.js
  test/index.js
Due: eslint --fix

5.27.0
  package.json
Due: none

Ignore Browserslist for Prettier fix
  generators/app/templates/lintstagedrc
Due: none

Use Prettier by default
  generators/app/index.js
Due: eslint --fix

5.28.0
  package.json
Due: none

Bump `github-release-from-changelog` version
  generators/app/templates/_package.json
  test/index.js
Due: eslint --fix

5.29.0
  package.json
Due: none

Add support for ignoring test fixtures in ESLint
  generators/app/templates/test/eslintrc
  test/index.js
Due: eslint --fix

5.29.1
  package.json
Due: none

Use defined Node version in Travis configuration
  generators/app/templates/travis.yml
  test/index.js
Due: eslint --fix

5.29.2
  package.json
Due: none

Use Node 10 by default
  .travis.yml
  generators/app/index.js
  package.json
  test/index.js
Due: eslint --fix

Upgrade Prettier to v2
  generators/app/templates/_package.json
  generators/app/templates/prettierrc
Due: none

Upgrade lint-staged and husky
  generators/app/templates/_package.json
Due: none

Upgrade package
  .lintstagedrc
  .prettierrc
  package.json
Due: none

5.30.0
  package.json
Due: none

Adjust .lintstagedrc file
  generators/app/templates/lintstagedrc
Due: none

5.30.1
  package.json
Due: none

Upgrade ESLint dependancy
  generators/app/templates/_package.json
  package.json
  test/index.js
Due: eslint --fix

5.31.0
  package.json
Due: none

Upgrade Stylelint configuration
  generators/app/templates/_package.json
  test/index.js
Due: eslint --fix

5.32.0
  package.json
Due: none

Resolve minimum IE version from Browserslist query
  generators/app/index.js
  generators/app/templates/README.md
  package.json
  test/index.js
Due: eslint --fix, prettier --ignore-path .prettierignore --write

Handle styles configuration
  generators/app/templates/_package.json
  test/index.js
Due: eslint --fix

Add bundling tool option and Babel test env for manual tests
  generators/app/index.js
  generators/app/templates/_package.json
  generators/app/templates/babelrc
  generators/app/templates/test/eslintrc
Due: eslint --fix

Upgrade Rollup to 2.0
  generators/app/templates/_package.json
  generators/app/templates/karma.conf.js
  generators/app/templates/rollup.config.js
  generators/app/templates/test/manual/rollup.config.js
  test/index.js
Due: eslint --fix

Randomize port with `0`
  generators/app/templates/_package.json
  generators/app/templates/karma.conf.js
  generators/app/templates/test/manual/rollup.config.js
  generators/app/templates/test/manual/webpack.config.js
  generators/app/templates/wdio.conf.js
  test/index.js
Due: eslint --fix

Upgrade np
  generators/app/templates/_package.json
  package.json
  test/index.js
Due: eslint --fix

Upgrade mocha
  generators/app/templates/_package.json
  package.json
  test/index.js
Due: eslint --fix

Upgrade nyc
  generators/app/templates/_package.json
  package.json
  test/index.js
Due: eslint --fix

Use source map option documented in karma-webpack
  generators/app/templates/karma.conf.js
Due: eslint --fix

Upgrade WebDriverIO
  generators/app/templates/_package.json
  generators/app/templates/wdio.conf.js
  test/index.js
Due: eslint --fix

Apply changes for WDIO, Mocha and ESM usage
  generators/app/templates/_package.json
  test/index.js
Due: eslint --fix

Upgrade dependencies
  generators/app/templates/_package.json
  test/index.js
Due: eslint --fix

Take into account PRs and BrowserStack in Travis
  generators/app/templates/karma.conf.js
  generators/app/templates/wdio.conf.js
Due: eslint --fix

Upgrade to Webpack 5
  generators/app/templates/_package.json
  generators/app/templates/test/manual/webpack.config.js
  test/index.js
Due: eslint --fix

Add ESM changes
  generators/app/templates/_package.json
  generators/app/templates/gitignore
  generators/app/templates/rollup.config.js
  test/index.js
Due: eslint --fix

Sort package.json fields
  generators/app/index.js
  package.json
  test/index.js
Due: eslint --fix
