Repository niksy/generator-paleta: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-path .prettierignore --write

.lintstagedrc:

{
	"*.js": ["eslint --fix"],
	"*.md": ["prettier --ignore-path .prettierignore --write"],
	".!(npm)*rc": ["prettier --ignore-path .gitignore --parser json --write"]
}

Sort package.json fields
  generators/app/index.js
  package.json
  test/index.js
Due: eslint --fix

Remove jQuery module support
  generators/app/index.js
  generators/app/templates/_package.json
  test/index.js
Due: eslint --fix

Add changes after integration
  generators/app/templates/_package.json
  generators/app/templates/gitignore
  generators/app/templates/rollup.config.js
  generators/app/templates/test/manual/rollup.config.js
  test/index.js
Due: eslint --fix

Use IE 11 as baseline and handle old versions
  generators/app/index.js
  generators/app/templates/_package.json
  test/index.js
Due: eslint --fix

Add changes after integration
  generators/app/templates/karma.conf.js
Due: eslint --fix

Add support for .nycrc in browser tests
  generators/app/index.js
  generators/app/templates/karma.conf.js
  generators/app/templates/nycrc
  test/index.js
Due: eslint --fix

Lint and prettify files when all tasks are done
  generators/app/index.js
  package.json
Due: eslint --fix

Fix accessing unexported `package.json`
  generators/app/templates/_package.json
  test/index.js
Due: eslint --fix

Remove Rollup warning regarding named exports
  generators/app/templates/rollup.config.js
Due: eslint --fix

Use Nodemon for codecoverage watching
  generators/app/templates/_package.json
  test/index.js
Due: eslint --fix

Don’t ignore `node_modules` in fixtures
  generators/app/templates/gitignore
  test/index.js
Due: eslint --fix

6.0.0
  package.json
Due: none

Add support for GitHub Actions
  generators/app/index.js
  generators/app/templates/README.md
  generators/app/templates/github/workflows/ci.yml
  generators/app/templates/karma.conf.js
  test/index.js
Due: eslint --fix, prettier --ignore-path .prettierignore --write

Add Browserlist to dependencies
  package.json
Due: none

6.0.1
  package.json
Due: none

Adjust templates
  generators/app/templates/README.md
  generators/app/templates/gitignore
Due: prettier --ignore-path .prettierignore --write

6.0.2
  package.json
Due: none

Remove custom Babel preset
  generators/app/templates/_package.json
  generators/app/templates/babelrc
  test/index.js
Due: eslint --fix

Remove old references from package.json
  generators/app/index.js
Due: eslint --fix

6.0.3
  package.json
Due: none

Use lowest IE version for Karma
  generators/app/index.js
  generators/app/templates/karma.conf.js
  generators/app/templates/wdio.conf.js
  test/index.js
Due: eslint --fix

6.0.4
  package.json
Due: none

Add Rollup config to ESLint config overrides
  generators/app/templates/eslintrc
Due: none

Update Rollup Istanbul plugin
  generators/app/templates/_package.json
  test/index.js
Due: eslint --fix

6.1.0
  package.json
Due: none

Remove old references
  generators/app/index.js
Due: eslint --fix

6.1.1
  package.json
Due: none

6.1.2
  package.json
Due: none

Upgrade to Webpack 5
  generators/app/templates/_package.json
  test/index.js
Due: eslint --fix

6.1.3
  package.json
Due: none

Use FQN for ESLint configuration
  generators/app/templates/eslintrc
  generators/app/templates/test/eslintrc
  generators/app/templates/test/integration/eslintrc
  test/index.js
Due: eslint --fix

Update Browserslist configuration
  generators/app/index.js
  generators/app/templates/README.md
  generators/app/templates/_package.json
  generators/app/templates/karma.conf.js
  generators/app/templates/wdio.conf.js
  package.json
  test/index.js
Due: eslint --fix, prettier --ignore-path .prettierignore --write

Rename GitHub Actions job to "Test"
  generators/app/templates/github/workflows/ci.yml
Due: none

Adjust answers
  generators/app/index.js
  test/index.js
Due: eslint --fix

Improve documentation
  README.md
Due: prettier --ignore-path .prettierignore --write

Don’t use `Object.fromEntries`
  generators/app/index.js
Due: eslint --fix

6.2.0
  package.json
Due: none

Don’t use unecessary Babel plugins for non-IE
  generators/app/templates/_package.json
  generators/app/templates/babelrc
  test/index.js
Due: eslint --fix

6.3.0
  package.json
Due: none
